.idea/*
!.idea/copyright/
!.idea/codeInsightSettings.xml
*.iml
*.ipr
*.iws
/bin/
/.settings/
/.gradle/
/build/
/run/*
!/run/options.txt
!/run/LiquidBounce/
/run/LiquidBounce/*
!/run/LiquidBounce/modules.json
/mcef/
/logs/
/.kotlin/
.DS_Store
*.log
/.fabric/
/.reasonix